<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }


    </style>
</head>

<body>
    <div class="marksform">
        <form action="/result" method="post">
        <h1>Welcome to percentage calculator</h1>
        <div class="maths">
            
                <label for="maths">MATHS</label>
                <input type="text" name="mhs" id="maths" placeholder="Enter your maths marks here ">
        </div>
        <div class="science">
            <label for="science">SCIENCE</label>
            <input type="text" name="sc" id="science" placeholder="Enter your science marks here ">
        </div>
        <div class="c"><label for="c">C languge</label>
            <input type="text" name="cl" id="c" placeholder="Enter your c languge marks here ">
        </div>
        <div class="python">
            <label for="python">PYTHON</label>
            <input type="text" name="py" id="python" placeholder="Enter your python marks here ">
        </div>
        <input type="submit" value="submit">


        </form>
    </div>
</body>

</html>